.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
  }
  
  .navbar a {
    margin-right: 1rem;
    color: #333;
    font-weight: 500;
    margin-left: 50px;
  }